* {
  margin: 0px;
  padding: 0px;
}

html,
body,
#app,
#app > div {
  height: 100%;
  font-family: "Roboto";
  font: "Roboto";
  font-size: 14px;
}

/*
 * Building Blocks
 */

.flex {
  display: flex;
}

.flexColumn {
  @extend .flex;
  flex-direction: column;
}

.flexRow {
  @extend .flex;
  flex-direction: row;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentLeft {
  justify-content: left;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentFlexEnd {
  justify-content: flex-end;
}

.alignContentEnd {
  align-content: flex-end;
}

.flexGrowEight {
  flex-grow: 8;
}

.flexGrowTen {
  flex-grow: 10;
}

.padNone {
  padding: 0px;
}

.padSmall {
  padding: 10px;
}

.padMedium {
  padding: 20px;
}

.padLarge {
  padding: 30px;
}

.padVerticalLight {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padSideLight {
  padding-left: 10px;
  padding-right: 10px;
}

.padSideMedium {
  padding-left: 20px;
  padding-right: 20px;
}

.padTopLight {
  padding-top: 10px;
}

.widthFull {
  width: 100%;
}

.heightFull {
  height: 100%;
}

.sizeFull {
  @extend .widthFull;
  @extend .heightFull;
}

.roundBorder {
  border-radius: 10px;
}

.roundBorderMedium {
  border-radius: 25px;
}

.roundBorderHard {
  border-radius: 50px;
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.textDecorationUnderline {
  text-decoration: underline;
}

.debug {
  border: 1px solid red;
}

.debugBlue {
  border: 1px solid blue;
}

.debugGreen {
  border: 1px solid green;
}

.debugThick {
  border: 3px solid red;
}

.debugGreenThick {
  border: 3px solid green;
}

.verticallyCenter {
  padding: 50% 0px;
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowXScroll {
  overflow-x: scroll;
}

.overflowYHidden {
  overflow-y: hidden;
}

.overflowYScroll {
  overflow-y: scroll;
}

.overflowScroll {
  @extend .overflowXScroll;
  @extend .overflowYScroll;
}

.overflowHidden {
  @extend .overflowXHidden;
  @extend .overflowYHidden;
}

.bold {
  font-weight: bold;
}

/*
 * Row
 */

//TODO: Rename this
.flexRowCentered {
  @extend .flexRow;
  @extend .justifyContentCenter;
}

.flexRowContentLeft {
  @extend .flexRow;
  @extend .justifyContentLeft;
}

.flexRowSpaceAround {
  @extend .flexRow;
  @extend .justifyContentSpaceAround;
}

.flexRowWidthFull {
  @extend .flexRow;
  @extend .widthFull;
}

.flexRowCenteredWidthFull {
  @extend .flexRowCentered;
  @extend .widthFull;
}

/*
 * Column
 */

.flexColumnWidthFull {
  @extend .flexColumn;
  @extend .widthFull;
}

.flexColumnWidthFullHeightFull {
  @extend .flexColumn;
  @extend .widthFull;
  @extend .heightFull;
}

//TODO: Rename this
.centeredColumn {
  @extend .flexColumn;
  @extend .justifyContentCenter;
}

/*
 * Misc
 */

.maxHeightHalf {
  max-height: 450px;
}

.displayInlineBlock {
  display: inline-block;
}