.DS_Store
*/.DS_Store
node_modules
*/node_modules
package-lock.json
*/package-lock.json
.vscode
.idea
**/env
**/.ipynp_checkpoints
**/__pycache__
*.code-workspace
bend/src/python/.ipynb_checkpoints
docs/*
bend/env
