asgiref==3.3.1
click==7.1.2
Django==3.1.4
djangorestframework==3.12.2
joblib==0.17.0
nltk==3.5
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
python-igraph==0.8.3
pytz==2020.4
regex==2020.11.13
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
texttable==1.6.3
threadpoolctl==2.1.0
tqdm==4.54.1
typing-extensions==3.7.4.3
